<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <label for="form_first_numb">
    Subtract this:
  </label>
  <input id="form_first_numb" name="first_numb" text="text">
  <label for="form_second_numb">
    from this:
  </label>
  <input id="form_second_numb" name="second_numb" text="text">
  <button>
    Subtract!
  </button>
</form>
